@model IEnumerable<OnlineStore_Epam2018.Models.PublicityViewModel>

@{
    ViewBag.Title = "Index";
}
<h2>Саженцы Могилев</h2>

<publicity_Board id="publicityBoard" style="float:left;">
    <table>
        <tr>
            <th>Реклама1</th>
        </tr>
        <tr>
            <th>Реклама2</th>
        </tr>
        <tr>
            <th>Реклама3</th>
        </tr>
    </table>
</publicity_Board>

<text_Board id="textBoard" style="float:initial;">
    <p></p>
    <table>
        <tr>
            <th>
                <p>
                    Питомник плодовых растений в Тараново с радостью поможет Вам оценить и понять всю красоту окружающего мира.

                    Для Вас мы рады предложить широчайший ассортимент плодовых деревьев, и помочь Вам в выборе сортов для ваших участков и садов.
                </p>
            </th>
        </tr>
        <tr>
            <th>
                <p>
                    В нашем питомнике Вы всегда найдете весь спектр саженцов любых плодовых деревьев:
                    Яблони:
                    -пирамидальных
                    -шаровидных
                    Груши:
                    -кустовых
                    -почвопокровных
                    Вишни :
                    -канадских
                    -гнездовых
                    -голубых
                    - обыкновенных
                    Сливы :
                    -кустовых
                    -карликовых
                </p>
            </th>
        </tr>
        <tr>
            <th>
                <p>
                    Достаточно только Вашего желания и мы и мы поможем Вам превратим любой участок в райский уголок.

                    Отметим, что выращиваемые нами виды прошли тщательный отбор, и адаптированы к нашему климату, а это - гарантия высокого качества нашим покупателям. Растения продаются с закрытой корневой системой - в контейнерах.

                    При посещении нашего питомника Вы получите необходимые консультации и помощь по оформлению, посадке, уходу, подкормке, борьбе с вредителями, а так же по наиболее гарманичному выбору растений.
                </p>
            </th>
        </tr>
    </table>
</text_Board>


<h3>Перейти к каталогу:</h3>
@Html.ActionLink("Go To Orders List", "Index", "Order")
<p></p>

@Html.RouteLink("Go To Products List", new { controller = "Product", action = "Index" }, new { @class = "btn btn-default" })

<h1>@ViewBag.wcf</h1>

@foreach (var item in Model)
{
    @Html.DisplayFor(model => item.Id)
    @Html.DisplayFor(model => item.Name)
    @Html.DisplayFor(model => item.Text)
}

@*<h3>@ViewBag.wcfAdd</h3>


    <h1>
        @ViewBag.file
    </h1>*@
