@model IEnumerable<OnlineStore_Epam2018.Models.ProductViewModel>

<h2>Index</h2>
<navigation_Board style="float:left;">
    <p>
        @Html.ActionLink("Go back", "Index","Product")
    </p>
    <table class="table">
        <tr>
            @Html.ActionLink("All", "Index", "Search");

            @foreach (string item in ViewBag.ListCategoryName)
        {
        <th>
            <p>
                @Html.ActionLink(item, "Index", new { category = item });
            </p>
        </th>
}

            </tr>
            @Html.ActionLink("All", "Index", "Search");
            <tr>
                @foreach (string item in ViewBag.ListSeasonName)
            {
                <th>
                    <p>
                        @Html.ActionLink(item, "Index", new { season = item });
                    </p>
                </th>
        }
            <tr>
        </table>
</navigation_Board>

<list_Board style="float:right;">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeasonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeasonName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Picture)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.RouteLink("Details", new { controller="Product", action="Details",id=item.Id})
                    @*@Html.ActionLink("Details","Redirect", new { value = item.Id })*@
                </td>
            </tr>
        }

    </table>
</list_Board>