@model OnlineStore_Epam2018.Models.BasketViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Изменения</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>
    </dl>
</div>
<p>
    @Html.RouteLink("Изменить", new {controller="Basket", action= "Edit" , id = Model.Id }) 
</p>
