@model IEnumerable<OnlineStore_Epam2018.Models.ProductListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Корзина продуктов</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.ActionLink("Изменить колличество", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })

            </td>
        </tr>

    }
    @Html.RouteLink("Оформить заказ", new { controller = "Order", action = "Create" }, new { @class = "btn btn-default" })

</table>
