@model IEnumerable<OnlineStore_Epam2018.Models.OrderViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Список заказов</h2>

<table class="table">
    <tr>
        <th>
            Номер заказа
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status.StatusOrderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOrder)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatusOrderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOrder)
            </td>
            <td>

                @Html.RouteLink("Подробнее", new { controller = "Order", action = "OrderDetails", id = item.Id }, new { @class = "btn btn-default" })

                @if (item.Status.StatusOrderName == "добавление товаров")
                {
                    @Html.RouteLink("Оформить", new { controller = "Order", action = "EditUserOrder", id = item.Id }, new { @class = "btn btn-default" })
                }
            </td>
        </tr>
    }

</table>
<a href="#" onclick="history.go(-1); return false;" class="btn btn-default">Назад</a>